/* You can add global styles to this file, and also import other style files */
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

label {
  display: block;
}

input {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  background-color: transparent;
  // border-radius: 0;
  // height: 2rem;
  width: 100%;
  margin: 0 0 8px 0;
  padding: 0;
  box-sizing: content-box;
}
